{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Our Vision</h1>
    <p>
      We envision to serve you with the best! The best of what suits you nd look forward to you expressing and sharing your views
      completely and freely! We also give you access to view opinions from other people to be inspired, relate or awstruck!
      All opinions, from liking or complaining about the cyclic nature of fashion, or just reveling your pocket size!
      Your clothing pleaures, your clothing menaces, All are welcome!
    </p>
    <h6>
      This is a social experiment, to gather relevant and necessary data to best serve the clothing of the people! To sew the gap
      between needs and trends!
    </h6>
  </div>
{% endblock %}
